<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1str</title>
    <link rel="stylesheet" href="./../static/css/style.min.css">
</head>
<body>
    <div class="container">
        <h1>Расширенный поиск по резюме</h1>
        <div class="key-words">

            <div class="form-container">

                <form action="/submit-vacancy" class="form" id="keywordsForm" method="post">
                    <div class="title_and_btn">
                        <h3>Добавить или убрать поле для ввода ключевых слов</h3>
                        <div class="btns_plus_and_minus">
                            <button type="button" id="add-keywords-btn">+</button>
                            <button type="button" id="delete-keywords-btn">-</button>
                        </div>
                    </div>
                    <div class="logical-operator-container" style="display: none;">
                        <label>Выберите оператор:</label>
                        <ul>
                            <li>
                                <label class="logical-operator">
                                    <input type="radio" name="logical_operator" value="AND" checked> AND
                                </label>
                            </li>
                            <li>
                                <label class="logical-operator">
                                    <input type="radio" name="logical_operator" value="OR"> OR
                                </label>
                            </li>
                        </ul>
                    </div>
                    <input type="hidden" name="group_count" id="group_count" value="1">
                    <div id="keywords-container">
                        <div class="keywords-entry">
                            <label for="keywords-input-0" class="form-label">Ключевые слова</label>
                            <input type="text" class="keywords-input" placeholder="Введите ключевые слова через точку с запятой" name="keywords_0">
                            <nav class="key-words__nav">
                                <ul class="nav-list">
                                    <li class="nav-list__item">
                                        <a href="#!" class="nav-list__link toggle-link">Выберите способ</a>
                                        <div class="nav-list__sub-nav-how sub-nav">
                                            <ul class="sub-nav-how">
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="radio" name="option1_0" value="all_words">Все слова
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="radio" name="option1_0" value="any_word">Любое из слов
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="radio" name="option1_0" value="exact_phrase">Точная фраза
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="radio" name="option1_0" value="not_appear">Не встречаются
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-list__item">
                                        <a href="#!" class="nav-list__link toggle-link">Выберите место</a>
                                        <div class="nav-list__sub-nav-where sub-nav">
                                            <ul class="sub-nav-where">
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="checkbox" name="where_0" value="everywhere">Везде
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="checkbox" name="where_0" value="resume_title">В названии резюме
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="checkbox" name="where_0" value="education">В образовании
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="checkbox" name="where_0" value="skills">В ключевых навыках
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="label_choice">
                                                        <input type="checkbox" name="where_0" value="experience">В опыте работы
                                                    </label>
                                                    <ul class="sub-nav-where-experience">
                                                        <li>
                                                            <label class="label_choice">
                                                                <input type="checkbox" name="where_0" value="companies" class="experience-checkbox">В компаниях и отраслях
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="label_choice">
                                                                <input type="checkbox" name="where_0" value="job" class="experience-checkbox">В должностях
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="label_choice">
                                                                <input type="checkbox" name="where_0" value="duties" class="experience-checkbox">В обязанностях
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <br><br>
                    
                    
                    <br><br>
                    <label for="vacantion-input" class="form-label">Номер заявки</label>
                    <input type="text" id="vacantion-input" placeholder="Введите номер вакансии" name="vacancy_number">
                    <br><br>
                    <label for="uid-input" class="form-label">UID</label>
                    <input type="text" id="uid-input" placeholder="Введите UID" name="uid_number">
                    <button class="btn" type="submit" id="submit-btn">ПОИСК</button>
                    <p class="error-message" style="display: none;" id="error-message">Заполните хотя бы одно поле: Номер заявки или UID.</p>
                    {% if error %}
                    <p class="error-message">{{ error }}</p>
                    {% endif %}
                </form>


        </div>

        <!-- <div class="vacantion">
            <form action="/submit-vacancy" class="vacantion__form" method="post">
                
            </form>
            
        </div>
        
        <div class="uid">
            <form action="" class="uid__form">
             
            </form>
            
        </div> -->

        
        

    </div>
    <script src="./../static/js/1str.js"></script>
</body>
</html>