
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.min.css">
</head>
<body>
    <div class="container">

        <div class="vacs">
            <h3 class="title-vac">Вакансия</h3>
            <p class="num-vac"><b>Номер вакансии:</b> {{ vacancy_number }}<a href="/download/19d9a2d3-89ba-b21c-a4eb-65f99d5dec19_Фрезеровщик"> - Выгрузить подходящие резюме в файл </a></p>
            <p class="desc-vac"><b>Описание вакансии:</b> {{ vacancy_value }}</p>
        </div>
        <hr class="separator">

        <div class="resume-talent">

            <div class="resume_and_count-talent">
                <h3 class="title">Резюме из ТалентФорсе</h3>
                <form action="">
                    <label for="count-talent">Количество резюме:</label>
                    <select name="count-talent" id="count-talent">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="all">Все</option>
                    </select>
                </form>
            </div>

            <div class="resumes">
                {% for candidate_key, candidate_info in data.items() %}
                <div class="resume_and_func">
                    <div class="resume" id="resumeContainer">
                        
                            <h3><b>Название резюме:</b> {{ candidate_key }}</h3>
                            <br>
                            {% if candidate_info.education %}
                                <p><b>Образование:</b></p>
                                <ul>
                                    {% for edu in candidate_info.education %}
                                        <li>&mdash; {{ edu.university }} - {{ edu.specialization }} ({{ edu.year_of_graduation }})</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p><b>Образование:</b> отсутствует</p>
                            {% endif %}
                            <br>

                            {% if candidate_info.job %}
                            <p><b><b>Места работы:</b></b></p>
                            <ul>
                                {% for job in candidate_info.job %}
                                    <li>&mdash;
                                        {{ job.company_name }} - {{ job.post }} ({{ job.period_begin }} - {% if job.period_end %}{{ job.period_end }}{% else %}настоящее время{% endif %})<br>
                                        {{ job.post_desc | safe }}
                                        
                                    </li>
                                    <br>
                                {% endfor %}
                            </ul>
                            {% else %}
                                <p><b>Места работы:</b> отсутствуют</p>
                            {% endif %}
                        
                    </div>
                    <button class="toggle-button" id="toggleButton">Показать больше</button>
                    <div class="btns">
                        <button class="btn1">Подходит</button>
                        <button class="btn2">Не подходит</button>
                    </div>
                    
                </div>
                {% endfor %}

            </div>

            
        </div>
        <hr class="separator">

        <div class="resume-db">
            <div class="resume_and_count-db">
                <h3 class="title">Резюме из Базы данных</h3>
                <form action="">
                    <label for="resume_and_count-db">Количество резюме:</label>
                    <select name="count-db" id="resume_and_count-db">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="all">Все</option>
                    </select>
                </form>
            </div>
        </div>


    </div>
    <script src="/static/js/2str.js"></script>
</body>
</html>
