<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подходящие резюме</title>
    <link rel="stylesheet" href="/static/css/style.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Подходящие резюме</h1>
            <ol class="num-list">
                {% for candidate_info in addedCandidates %}
                <li>
                    <a href="{{ candidate_info.id }}">{{ candidate_info.key }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    
</body>
</html>
